<%# <footer class="footer">
      <div class="outer-footer">
        <div>
          <a href="#"><i class="fa-brands fa-github"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class = "container-footer">
          <h4>This website is made at LeWagon </h4>
        </div>
      </div>
</footer> %>
<footer>
  <div class ="container">
    <div class="main">
      <div class="col4">
        <h3 class="heading">
          <div class="logo-footer">
            <img src="https://res.cloudinary.com/drmu7et5q/image/upload/v1660748365/logo-white_ofvlr8.png" alt="logo" id="logo" data-action="mouseover->navbar#updateNavbar">
          </div>
        </h3>
        <ul>
          <li>
            Juris Japan is a project created by Le Wagon students in order to help ease foreigners' legal experiences in Japan by providing a checklist of all requirements
          </li>
        </ul>
      </div>
      <div class="col1">
        <h3 class="heading">
          SITE MAP
        </h3>
        <ul>
          <li>
            <a href="#">
              HOME
            </a>
          </li>
          <li>
            <a href="#">
              PROCEDURES
            </a>
          </li>
          <li>
            <a href="#">
              LAW FIRMS
            </a>
          </li>
          <li>
            <a href="#">
              ABOUT US
            </a>
          </li>
          <li>
            <a href="#">
              FAQ
            </a>
          </li>
        </ul>
      </div>
      <div class="col2">
        <h3 class="heading">
          CONTACT US
        </h3>
        <ul>
          <li>
            MEGURO, TOKYO
          </li>
          <li>
            123-2467-890
          </li>
          <li>
            JURIS-JAPAN@GMAIL.COM
          </li>
        </ul>
      </div>
      <div class="col3">
        <h3 class="heading">
          SOCIALS
        </h3>
        <div class="social">
          <a href="#">
            <a href="#"><i class="fa-brands fa-github"></i></a>
          </a>
          <a href="#">
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </a>
          <a href="#">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
          </a>
          <a href="#">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </a>
          <a href="#">
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="end-footer">
  <div class="outer-footer">
    <div class = "container-footer">
      <div class="terms">
        <a href="#">Copyright © 2022 Juris Japan, All Rights Reserved.</a>
      </div>
    </div>
  </div>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
