<div class="procedures-banner" id="top-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dcs2vqe2s/image/upload/v1660554814/pexels-josh-sorenson-391522_uqnmaf.jpg')">
  <div class="container">
      <h1>About Juris Japan</h1>
  </div>
</div>
<div class="container">
  <h1>Bongga ka dzai</h1>
</div>
