<div class="section">
  <h1>Juris Japan</h1>
  <p><span data-controller="typed-js"></span></p>
  <div class="two-buttons">
    <span>
      <%= link_to "Look at Procedures", procedures_path, class: "button-main" %>
    </span>
    <span>
      <%= link_to "Look at Lawfirms", lawfirms_path, class: "button-secondary" %>
    </span>
  </div>

  <div class="video-container" id="top-banner">
    <div class="color-overlay"></div>
      <video muted loop autoplay id="myvideo" >
         <source src ="<%= asset_path 'banner_video.mp4' %>" type="video/mp4">
      </video>
  </div>
  <div id="down" class="jumplink" onclick="window.location='#about';">
    <i class="fa-solid fa-chevron-down blinking"></i>
  </div>
</div>
<div class="container">
<h1 id="about">About us</h1>
<%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
</div>
