<body>

<h1> Testing wi </h1>
<div class="seemore">
  <button type="button" class= "seemore__button">See more!</button>
    <div class="seemore__content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Cumque maiores enim tempora molestiae doloribus ipsa quisquam provident eius.
        labore pariatur laborum architecto deleniti! Accusamus quod harum nobis mollitia nulla iusto exercitationem laboriosam fugiat, assumenda tempora recusandae ex voluptate dolores cupiditate.
      </p>
    </div>
</div>
