.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
  .navbar-lewagon-white-a a {
    color: white;
  }
  .navbar-lewagon-white-a i {
    color: white;
    font-size: 24px;
  }
}

.navbar-lewagon-white {
  background-color: white;
  .navbar-lewagon-white-a a {
    color: black;
  }

  .navbar-lewagon-white-a i {
    color: black;
    font-size: 24px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 6%;
}

.dropdown-menu-right { // overrides Bootstrap because it doesn't seem to work
  right: 0 !important;
  left: auto !important;
}
