// .progress {
//   display: flex;
//   height: 2rem;
//   overflow: hidden;
//   font-size: .75rem;
//   background-color: #d5d7db;
//   border-radius: 0.25rem;
//   border: 1px solid #b3b3b3;
//   box-shadow: 0 2px 2px #b3b3b3;
//   }

// .number {
// font-weight: bold;
// color: black;
// }

// .progress-bar {
//   background-color: #e1d393;
//   }





  .steps-form {
    display: table;
    width: 100%;
    position: relative; }

.steps-form .steps-row {
    display: table-row; }

.steps-form .steps-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc; }

.steps-form .steps-row .steps-step {
    display: table-cell;
    text-align: center;
    position: relative; }


  .steps-form .steps-row .steps-step .btn-circle0{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    margin-top: 0;
    background-color: #ccc;
  }

  .steps-form .steps-row .steps-step .btn-circle1{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    margin-top: 0;
    background-color: #FAD22C;
  }
