.procedures-grid {
  margin: 24px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  .immigration-image {
    grid-area: 1 / 1 / 2 / 2;
    place-items: center;
    display: grid;
    filter: drop-shadow(0px 2px 8px rgba(0,0,0,0.5));
  }

  .immigration-text {
    grid-area: 1 / 2 / 2 / 3;
    place-items: center;
    display: grid;
  }
  .corporate-text {
    grid-area: 2 / 1 / 3 / 2;
    place-items: center;
    display: grid;
  }
  .corporate-image {
    grid-area: 2 / 2 / 3 / 3;
    place-items: center;
    display: grid;
    filter: drop-shadow(0px 2px 8px rgba(0,0,0,0.5));
  }
  .family-image {
    grid-area: 3 / 1 / 4 / 2;
    place-items: center;
    display: grid;
    filter: drop-shadow(0px 2px 8px rgba(0,0,0,0.5));
  }
  .family-text {
    grid-area: 3 / 2 / 4 / 3;
    place-items: center;
    display: grid;
  }
  .copyright-text {
    grid-area: 4 / 1 / 5 / 2;
    place-items: center;
    display: grid;
  }
  .copyright-image {
    grid-area: 4 / 2 / 5 / 3;
    place-items: center;
    display: grid;
    filter: drop-shadow(0px 2px 8px rgba(0,0,0,0.5));
  }
