.container_seemore {
  position: relative;
  width: 990px;
  padding: 24px  20px;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}


.seemore__button {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #adbedb;
  color:black;
  text-align: left;
  transition: background 0.2s;
}

.seemore__button::after {
  content: '\25be';
  float: right;
  transform: scale(1.5);
}

.seemore__button--active{
  background: #4d6ea8;
  color:white;
}

.seemore__button--active::after {
  content: '\25b4'
}

.seemore__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;
  padding: 3px 16px;
  background: #D9D9D9;
}
