  <h1>Overview of what PR is and what is needed to apply</h1>

<div class="profile-form-card">
  <%= simple_form_for [@procedure, @consultation] do |f| %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
